doctype 5
html
  head
    title= title
    script(src='/components/jquery/jquery.min.js', type='text/javascript') 
    script(src='/js/zclip.js',                     type='text/javascript')
    script(src='/js/clipboard.js',                 type='text/javascript')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/highlight.css')
    link(rel='stylesheet', href='/css/customized.css')
  body(id='outputBlock')!= body
    !=  output
