doctype 5
html
  head
    title= title
    script(src='/components/jquery/jquery.min.js', type='text/javascript') 
    script(src='/js/zclip.js', type='text/javascript')
    script(src='/js/clipboard.js', type='text/javascript')
    script(src='/components/ckeditor/ckeditor.js', type='text/javascript')
    script(src='/components/ckeditor/config.js', type='text/javascript')

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/highlight.css')
    link(rel='stylesheet', href='/css/customized.css')
  body(id='outputBlock')!= body
    form
        textarea(cols='80', rows='10', id='editor', name='content')
        script
            //CKEDITOR.replace('editor',{skin:'v2',toolbar:'SAMPLE',width:'630',height:'350',filebrowserImageUploadUrl:'/ImgUpload.jsp'}); 
            CKEDITOR.replace('editor',{skin:'v2',toolbar:'SAMPLE',width:'630',height:'350'}); 
    !=  output
