doctype 5
html
  head
    title= title
    script(src='/components/jquery/jquery.min.js', type='text/javascript') 
    script(src='/js/clipboard.js', type='text/javascript')
    script(src='/components/ckeditor/ckeditor.js', type='text/javascript')
    script(src='/components/ckeditor/adapters/jquery.js', type='text/javascript')
    //script(src='/components/ckeditor/config.js', type='text/javascript')

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/highlight.css')
    link(rel='stylesheet', href='/css/customized.css')
  body(id='outputBlock')!= body

    button#btn_down(type='submit') down
    
    form
        //textarea(cols='80', rows='10', id='editor', class='ckeditor', name='content')
        textarea(cols='80', rows='10', id='editor', name='content')
            //!=  output
    //!=  output

    #display

    script
        CKEDITOR.replace('editor',{toolbar:'SAMPLE',width:'630',height:'350'});
        var input = "!{output}";
        CKEDITOR.instances.editor.setData(decodeURIComponent(input));
        //console.log(input);
        var loadUrl = '/down';
        $("#btn_down").click(function(){
            CKEDITOR.instances.editor.setData('');
            $.post(
                loadUrl,
                {source: input},
                function(responseText){
                    //console.log(responseText);
                    console.log(CKEDITOR.instances.editor);
                    //$("#editor").html(responseText);
                    //CKEDITOR.instances.editor.setData('');
                    //CKEDITOR.instances.editor.setData(decodeURIComponent(responseText));
                    //$("#display").html(decodeURIComponent(responseText));
                    CKEDITOR.instances.editor.setData(responseText);
                    $("#display").html(responseText);
                    //CKEDITOR.instances.editor.insertHtml(decodeURIComponent(responseText));
                    //CKEDITOR.instances.editor.updateElement();
                    //console.log(CKEDITOR.document.head);
                },
                "html"
            );
        });
        