doctype 5
extends layout
block append head
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/highlight.css')
  link(rel='stylesheet', href='/css/customized.css')
  //-link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')

block append content
  script#dropboxjs(type='text/javascript', src='https://www.dropbox.com/static/api/1/dropins.js', data-app-key='8927n1gidx5s9kr')
  script(src='/components/ckeditor/ckeditor.js', type='text/javascript')
  script(src='/components/ckeditor/adapters/jquery.js', type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js')
  script(src='/js/down-and-up.js', type='text/javascript')

  nav.navbar.navbar-default(role='navigation')
    // Brand and toggle get grouped for better mobile display .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    ul.nav.navbar-nav
      li
        a.navbar-brand(href='/') DownAndUp
    // Collect the nav links, forms, and other content for toggling #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a(href='javascript: void(0)', id='upload-css') Upload Your CSS
    ul.nav.navbar-nav
      li.active
        a#btn_down(href='javascript: void(0)', style='width: 100px', align='center') down
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href='javascript: void(0)', data-toggle='dropdown')
          | Dropbox
          b.caret
        ul.dropdown-menu
          li
            a#dropbox-log-in(href='javascript: void(0)') Log In
          li
            //a(href='#') Load
            input#db-chooser(type='dropbox-chooser', name='selected-file', style='visibility: hidden;')
          li
            //a(href='#') Save
            a.dropbox-saver(href="https://dl.dropboxusercontent.com/u/3968081/DownAndUp.txt", data-filename="DownAndUp.txt");
          li.divider
          li
            a(href='javascript: void(0)') Log Out

  .container-fluid
    .row-fluid
      form
        textarea(cols='80', rows='10', id='editor', name='content')

      #display
      script.
              CKEDITOR.replace('editor',{toolbar:'SAMPLE',width:'90%',height:'20%'});
              var strOriginal = decodeURIComponent("!{output}");
              strOriginal = '<pre><code>' + strOriginal + '</code></pre>';
              CKEDITOR.instances.editor.setData(strOriginal);
              var loadUrl = '/down';
              //var up;   // pure text before markdown conversion
              //var down; // markdown-formatted html
              CKEDITOR.config.allowedContent = true;
              CKEDITOR.config.contentCss = '/css/highlight.css';
              var strModified = '';
              var strSent = '';
              $("#btn_down").click(function(){
                  if ($("#btn_down").text() == 'down') {
                      //console.log($("#btn_down").text());
                      $("#btn_down").text('up');
                      strModified = CKEDITOR.instances.editor.getSnapshot();
                      strSent = strModified.replace(/<pre>/gi, '');
                      strSent = strSent.replace(/<code>/gi, '');
                      strSent = strSent.replace(/<\/code>/gi, '');
                      strSent = strSent.replace(/<\/pre>/gi, '');
                      strSent = encodeURIComponent(strSent);
                      CKEDITOR.instances.editor.setData('');
                      $.post(
                          loadUrl,
                          {source: strSent},
                          function(responseText){
                              responseText = '<pre><code>' + responseText + '</code></pre>';
                              //up = CKEDITOR.instances.editor.getData();
                              //console.log(up)
                              CKEDITOR.instances.editor.setData(responseText);
                              //$("#display").html(responseText);
                              $('code').replaceWith(function(){
                                  return $("<p />", {html: $(this).html()});
                              });
                              $('iframe').contents().find('code').replaceWith(function(){
                                  return $("<p />", {html: $(this).html()});
                              });
                              $('iframe').contents().find('code').replaceWith(function(){
                                  return $("<pre />", {html: $(this).html()});
                              });
                          }, 
                          "html"
                      );
                  }
                  else if ($("#btn_down").text() == 'up') {
                      $("#btn_down").text('down');
                      CKEDITOR.instances.editor.setData(strModified);
                      $("#display").html('');
                  };
              });
