extends layout

block content
  h1= title
  p Welcome to 
  a(href='editor/') #{title}
  br
  br
  //button(href='/auth/dropbox') Login to Dropbox (by Don)
  //a(href='/auth/dropbox') Login to Dropbox (by Don)
  //br
  //br
  form(method='post', enctype='multipart/form-data', action='/file-upload')
    //-input(type='text', name='username')
    //-input(type='password', name='password')
    input(type='file', name='thumbnail')
    input(type='submit')
  br
  br
  != voteko

//  - if (!everyauth.loggedIn)
//    h2 Not Authenticated