!!! 5
nav.navbar.navbar-default(role='navigation')
  // Brand and toggle get grouped for better mobile display .navbar-header
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') DownAndUp
  // Collect the nav links, forms, and other content for toggling #bs-example-navbar-collapse-1.collapse.navbar-collapse
  ul.nav.navbar-nav
    li.active
      a(href='#', id='upload-css') Upload Your CSS
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        | Dropdown
        b.caret
      ul.dropdown-menu
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
        li.divider
        li
          a(href='#') One more separated link
  ul.nav.navbar-nav.navbar-right
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        | Dropbox
        b.caret
      ul.dropdown-menu
        li
          a#dropbox-log-in(href='#') Log In
        li
          a(href='#') Load
        li
          a(href='#') Save
        li.divider
        li
          a(href='#') Log Out
