!!! 5
block append content
  script#dropboxjs(type='text/javascript', src='https://www.dropbox.com/static/api/1/dropins.js', data-app-key='8927n1gidx5s9kr')
nav.navbar.navbar-default(role='navigation')
  // Brand and toggle get grouped for better mobile display .navbar-header
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  ul.nav.navbar-nav
      li.active
        a.navbar-brand(href='/') DownAndUp
  // Collect the nav links, forms, and other content for toggling #bs-example-navbar-collapse-1.collapse.navbar-collapse
  ul.nav.navbar-nav
    li
      a#upload-css(href='javascript: void(0)') Upload Your CSS
  ul.nav.navbar-nav
    li
      a#btn_down(href='/editor', style='width: 100px', align='center') down
  ul.nav.navbar-nav.navbar-right
    li.dropdown
      a.dropdown-toggle(href='javascript: void(0)', data-toggle='dropdown')
        | Dropbox
        b.caret
      ul.dropdown-menu
        li
          a#dropbox-log-in(href='javascript: void(0)') Log In
        li
          //-a(href='#') Load
          input#db-chooser(type='dropbox-chooser', name='selected-file', style='visibility: hidden;')
        li
          //-a(href='#') Save
          a.dropbox-saver(href="https://dl.dropboxusercontent.com/u/3968081/DownAndUp.txt", data-filename="DownAndUp.txt");
        li.divider
        li
          a#dropbox-log-out(href='javascript: void(0)') Log Out
